header {
	height: 500px;
	background-image: url(../images/header2.jpg);
	background-size: cover;		
	
}

.page1>h2{
	padding: 5px;
}

.page1>h5{
	padding: 5px;
}

.page1>a{
	padding: 5px;
}


.last-news {
	width: 99%;
	height: 500px;
	background-color: none;
	border:2px solid black;
	overflow: hidden;
	overflow-y:scroll;
}

.last-news>p{
	padding: 5px

}

.last-news>h4{
	padding: 5px;
}

.last-news>h5>a{
	padding: 5px;
}

.LCH {
	height: 500px;
	background-image: url(../images/LCHFinal3.jpg);
	background-size: cover;		
}

.video{
	width: 100%;
	height: 400px;
	background-color: #696969;
	text-align: center;
}


.LE {
	height: 500px;
	background-image: url(../images/LEFinal3.jpg);
	background-size: cover;	
}

nav{
	padding:20px;
}

.menu-link{
	padding:0;
	width: 150px;
	height: 60px;
	line-height: 60px;
}

img{
display: inline-block;
float: left;
	
}

footer{
	height:100px !important;
}

.footer{
	height: 200px
}

.footerimg{
	height: 50px;
	left: 20px
}

footer>h3{
	color: lightgray;
}

footer>a>img{
	margin-right: 20px;
}
/*Для сторінки з турнірною таблицею*/


tr td {
	
	text-align: left;
	width: 40px;
	height: 30px;
	border-top:none !important;
}
.top{
	border-bottom: 1px solid black;
}

.all {
	border: 1px solid black;
}
.up {
	border-top: 1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}
 
.down{
	border-bottom: 1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}

.line-bottom{
	border-bottom: 1px solid gray;
}

.line-left{
    border-left: 1px solid gray;
}

.line-right{
	border-right: 1px solid gray;
}

.logo {
	width:20px;
	height: 20px;
	float: left;
}


/*Фініш*/